allow init ion_device:chr_file ioctl;
allow init hidl_base_hwservice:hwservice_manager add;
allow init sysfs_fingerprint:file { open read setattr write };
allow init hidl_base_hwservice:hwservice_manager add;
allow init sysfs_graphics:lnk_file read;
allow init adsprpcd_file:filesystem { mount relabelfrom relabelto };
allow init vendor_file:file execute;
allow init hwservicemanager:binder { call };
allow init hwservicemanager:binder { transfer };
allow init default_android_hwservice:hwservice_manager { add };
allow init hal_perf_hwservice:hwservice_manager { find };
allow init hal_perf_default:binder { call };

allow init tee_device:chr_file { write };
allow init tee_device:chr_file { open };
allow init tee_device:chr_file { ioctl };
allow init tee_device:chr_file { read };
allow init ion_device:chr_file { read };
allow init ion_device:chr_file { open };
allow init vendor_file:file { execute_no_trans }; 
allow init same_process_hal_file:file { execute }; 
allow init hal_fingerprint_hwservice:hwservice_manager { add }; 
allow init hal_power_hwservice:hwservice_manager { add }; 
allow init hal_power_stats_hwservice:hwservice_manager { add }; 
allow init sysfs_doubletap:file { write }; 
allow init vfat:dir { search }; 
allow init sysfs_doubletap:file { open }; 
allow init vfat:file { read }; 
allow init vfat:file { open }; 
allow init vfat:file { getattr }; 
allow init system_server:binder { call };
allow init fingerprintd_data_file:file { rename };
